.calendar {
  font-family: 'Arial', sans-serif;
  border: 1px solid #ddd;
  padding: 10px;
  max-width: 350px;
  margin: auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.icon {
  cursor: pointer;
}

.days .col, .cell {
  padding: 5px;
  border: 1px solid #ddd;
  min-width: 40px;
  min-height: 40px;
}

.cell {
  cursor: pointer;
  transition: background-color 0
}