/* Commented part is the Form logic */

.App {
  font-family: 'Ubuntu', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: rgb(10, 10, 10);
}

body {
  margin: 0;
  padding: 0;
}
/* body .main {
  width: 400px;
  height: 400px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#light .main {
  background-color: #fff;
}

#dark .main {
  background-color: #242427;
}

.sign {
  padding-top: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

#light .sign {
  color: #0c0c0c;
}

#dark .sign {
  color: #ffffff;
}

.username {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.password {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

.username,
#light .password {
  color: rgb(38, 50, 56);
  background: rgba(136, 126, 126, 0.04);
}

#dark .username,
#dark .password {
  color: rgb(254, 255, 255);
  background: rgba(255, 247, 247, 0.299);
}

.username:focus,
.password:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #131213, #0a0a0a);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  padding-top: 15px;
  text-align: center;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  text-decoration: none;
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.switch label {
  margin: 10px;
} */

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}

.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.switch-button-on .slider {
  transform: translateX(26px); /* Adjust this value based on your switch size */
}

.switch-button {
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.switch-button .slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}
/* .switch-button:active .slider {
  transform: scale(1.1);
}

.App.dark .switch-button {
  background-color: #333;
}

.App.dark .switch-button .slider {
  transform: translateX(26px);
} */
