/* Add this to your CSS file */
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  font-family: Arial, sans-serif;
  font-size: 26px;
}

.checkbox-group {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.parent-checkbox {
  margin-bottom: 20px;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #2196f3; /* Blue background */
  border-radius: 4px; /* Rounded corners */
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Hide the default checkmark content */
.checkmark:after {
  content: none;
}

.checkbox input:checked ~ .checkmark:before {
  content: '';
  display: block;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  /* Position the checkmark in the center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
