.accordion-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 600px;
}

.toggleInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-container h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-container .toggleButton {
  position: absolute;
  right: 0;
}

.accordion-container p {
  margin-top: 10px;
  padding: 0;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-content.open {
  max-height: 200px;
}
